@font-face {
	font-family: Montserrat-Reg;
	src: url(fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
	font-family: R-Slab-Reg;
 	src: url(fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}
@font-face {
	font-family: R-Slab-Med;
 	src: url(fonts/Roboto_Slab/Static/RobotoSlab-Medium.ttf);
}
@font-face {
	font-family: R-Slab-Lig;
 	src: url(fonts/Roboto_Slab/Static/RobotoSlab-Light.ttf);
}
body{ background-color: #FDE055; color: #14343E; font-family: Montserrat-Reg;}
p {font-size: 16px;}
.page-container { margin-left: 5em; margin-right: 5em;}

/* Navigation Bar */
.nav-bar-box { margin: 2em; }
.p-nav1 { float: left;font-size: 1em;padding: 0;margin-left: 2em;font-family: R-Slab-Lig;}
.p-nav2 { float: right;font-size: 1em;padding: 0;margin-right: 2em;font-family: R-Slab-Lig;}
.p-nav1 li { display: inline-block; padding-right: 1em;}
.p-nav2 li { display: inline-block; padding-right: 1em;}
/* homepage */

.hero {font-size: 2.2em;line-height: 2.35em;letter-spacing: 3px;font-family: R-Slab-Reg;padding-top: 3em;}

.hero p{font-family: R-Slab-Reg; line-height: 2em; letter-spacing: 1px;margin-bottom: 5em;color: #006494;}

.wrapper{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
  	grid-gap: 25px 135px;
  	padding-bottom: 2rem;
}
.wrapper span{font-size: 10px;text-transform: uppercase;}
.projs {width: 30em;height: 15em;font-size: 16px;}
.projs h5 {text-transform: uppercase;}
.one {grid-column: 1;grid-row: 1;}
.two {grid-column: 1;grid-row: 2;}
.three {grid-column: 2;grid-row: 1;}
.four {grid-column: 2;grid-row: 2;}
.five {grid-column: 1;grid-row: 3;}


.placeholder { display:inline-block; }



.projs a:link {text-decoration: underline;color: #14343E;}
/* visited link */
.projs a:visited {text-decoration: none;color: #14343E;}
/* mouse over link */
.projs a:hover {color: #247BA0;}
/* selected link */
.projs a:active {color: #247BA0;}

/* Links Styling */

/* unvisited link */
a:link {text-decoration: underline;color: #14343E;}
/* visited link */
a:visited {text-decoration: none;color: #14343E;}
/* mouse over link */
a:hover {color: #14343E;background-color: #F2EFEA;}
/* selected link */
a:active {text-decoration: underline;}
