@font-face {
	font-family: Montserrat-Reg;
	src: url(fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
	font-family: R-Slab-Reg;
 	src: url(fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}

@font-face {
	font-family: R-Slab-Med;
 	src: url(fonts/Roboto_Slab/Static/RobotoSlab-Medium.ttf);
}
body{
	/*margin: 0em 8em 4em em;*/
	background-color: #FDE055;
	color: #14343E;
	font-family: Montserrat-Reg;
}

p {
	font-size: 21px;
}

.page-container {
	position: relative;
	min-height: 100vh;
}

/* Navigation Bar */
.p-nav1 {
	float: left;
	font-size: 1.2em;
	list-style: none;
	padding: 0;
	margin-left: 2em;
}

.p-nav2 {
	float: right;
	font-size: 1.2em;
	list-style: none;
	padding: 0;
	margin-right: 2em;
}

.p-nav1 li {
	display: inline-block;
	padding-right: 1em;
}
.p-nav2 li {
	display: inline-block;
	padding-right: 1em;
}


/* Project Overview */
.banner {
	width: 100%;
}

article {
	width: 27em;
	height: 13em;
	padding: 5em;
	font-size: 1em;
	margin-left: 5em;
	border: solid black;
}

.b-intro-list {
	list-style: none;
}





/* footer */
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2rem;

}
.footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.footer li {
	display: inline-block;
	padding-right: 1em;
}






/* Links Styling */

/* unvisited link */
a:link {
	text-decoration: underline;
	color: #14343E;
}

/* visited link */
a:visited {
	text-decoration: none;
	color: #14343E;

}

/* mouse over link */
a:hover {
	color: #14343E;
	background-color: #F2EFEA;
}

/* selected link */
a:active {
	color: blue;
	text-decoration: underline;
}